@import "variables";

.header {
    background: $white !important;
    padding: $px-0 !important;

    .header-right {
        padding-right: 22px;
        cursor: pointer;

        .notification {
            margin-right: $px-10;
            cursor: pointer;

            .noti-icon {
                font-size: $px-20;
                color: $font-color;
            }
        }

    }
}

.profile-info {
    display: table;

    .avatar, .info {
        display: table-cell;
    }

    .avatar {
        vertical-align: middle;
        padding-right: 10px;
    }
    p{
        margin-bottom: 0 !important;
    }
}
